<p style="color: green"><%= notice %></p>

<%= render @nurse %>

<div>
  <%= link_to "編集", edit_nurse_path(@nurse) %> |
  <%= link_to "一覧へ", nurses_path %>

  <%= button_to "削除", @nurse, method: :delete %>
</div>
